*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #37ebf3;
}
footer {
    background-color: blue;
}
.navbar-toggler {
    border: none;
}
.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Lexend Exa', sans-serif;
}
p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Lexend Deca', sans-serif;
}
.cards {
    border: none;
    border-radius: 0;
}
.btn  {
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0% 0%);
    border-radius: 0;
    border: none;
    color: #000000;
    background-color: #a9def9;
}
.btn:hover {
    background-color: #7ccce5;
    box-shadow: 0 0 5px 0 #37ebf3,
    inset 0 0 30px 0 #37ebf3;
    text-shadow: 0 0 10px #37ebf3;
}
.about .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}