*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #37ebf3;
}
.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Lexend Exa', sans-serif;
}
.container-hero {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    border-radius: 15px;
}
.hero {
    background-image: url('../images/hero.webp');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.hero-text {
    padding: 1rem;
}
p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Lexend Deca', sans-serif;
}
footer {
    background-color: blue;
}

/* Styling for the Navbar */
div .active {
    color: #000000;
    text-decoration: underline;
}
.navbar-toggler {
    border: none;
}
.card {
    border: none;
    border-radius: 0;
}
.btn  {
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0% 0%);
    border-radius: 0;
    border: none;
    color: #000000;
    background-color: #a9def9;
}
.btn:hover {
    color: #000000;
    background-color: #fdf900;
    box-shadow: 0 0 5px 0 #fdf900,
    inset 0 0 30px 0 #fdf900;
    text-shadow: 0 0 10px #fdf900;
}

/* Styling for the about container */

.about .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

/* Keyframes for revealing content. */

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}
.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}