/* Colors for uniform look
#92c5d8 - Light Blue
#5087a4 - Dark Blue
#e2d1bb - Peach
#1f2428 - Dark Grey */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #e2d1bb;
}

/* Navigation styling */

.nav-color {
    background-color: #92c5d8;
}

/* Generic Styling */

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Lexend Exa', sans-serif;
}
.about p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Lexend Deca', sans-serif;
}

/* Hero styling */

.container-hero {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    border-radius: 15px;
}
.hero {
    background: url('../images/hero.webp') no-repeat top center/cover;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.hero-text {
    padding: 1rem;
}

/* Footer styling */

.footer-color {
    background-color: #92c5d8;
}

/* Styling for the Navbar */
div .active {
    color: #1f2428;
    text-decoration: underline;
}
.navbar-toggler {
    border: none;
}

/* Card styling */

.card {
    border: none;
    border-radius: 5px 5px 0px 0px;
    color: #1f2428;
}
.container .card .top-rounded-card {
    border-radius: 5px 5px 0px 0px;
    width: auto;
    height: auto;
    background-position: 50% 50%;
    position: relative;
}

/* Button styling */

.btn  {
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0% 0%);
    border-radius: 0;
    border: none;
    color: #000000;
    background-color: #92c5d8;
}
.btn:hover {
    color: #ffffff;
    background-color: #5087a4;
    box-shadow: 0 0 5px 0 #5087a4,
    inset 0 0 30px 0 #5087a4;
    text-shadow: 0 0 10px #5087a4;
}

/* Styling for the identifier-container */

.container .identifier-container a {
    text-decoration: none;
    color: #000000;
}
.container .identifier-container {
    padding: 6%;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
}
.container .identifier-container a:hover {
    color: #ffffff;
    background-color: #5087a4;
    box-shadow: 0 0 5px 0 #5087a4,
    inset 0 0 30px 0 #5087a4;
    text-shadow: 0 0 10px #5087a4;
}

/* Styling for the about container */

.about .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.container .contact {
    display: flex;
    width: 100%;;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    background-color: #5087a4;
    border-radius: 5px 5px 0px 0px;
}
.container .contact .mb-3 {
    width: 400px;
}

/* Keyframes for revealing content. */

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}
.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}